/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Basics*/
body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #575757;
}

/*Box-Model*/
.container,
.container * {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 994px;
    padding: 20px 0;
    margin: 0 auto;
}

.statusbar {
    width: 100%;
    display: flex;
    /*
    flex-direction: row; (row-reverse | column | column-reverse)
    flex-wrap: nowrap; (flex-wrap)
    align-items: stretch; (flex-start, flex-end, center)
    justify-content: flex-start; (flex-end, center, space-between, space-around, space-evenly)
    */
    margin: 20px 0;
}

.statusbar .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    /*
        flex-grow: 1; -> proportion
        flex-shrink: 1;
        flex-basis: auto;
    */
    position: relative;
}

/*Line right*/
.statusbar .item:not(:first-child)::after {
    content: '';
    height: 1px;
    width: calc(50% - 13px);
    position: absolute;
    left: 0;
    top: 13px;
    background: #b4b4b4;
}

/*Line leftt*/
.statusbar .item:not(:last-child)::before {
    content: '';
    height: 1px;
    width: calc(50% - 13px);
    position: absolute;
    right: 0;
    top: 13px;
    background: #b4b4b4;
}

.statusbar .bubble {
    width: 26px;
    height: 26px;
    border: 1px solid #b4b4b4;
    color: #b4b4b4;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
    font-size: 13px;
    background: #fff;
}

.statusbar .text {
    color: #b4b4b4;
    margin-top: 5px;
    font-size: 11px;
}

/*
TODO
style active and visited state
active: background:  #005ea8, border: #005ea8, font: #fff, line left: #005ea8
visited: background: #fff, border: #005ea8, font: #005ea8, line left and right: #005ea8
*/

.form-container {
    margin-top: 20px;
    display: flex;
}

.form-container form {
    flex : auto;
    border: 1px solid #dadada;
    padding: 25px;
}

.helpbar {
    width: 180px;
}

.help-text {
    padding-left: 27px;
    font-size: 11px;
    color: rgb(87, 87, 87);
    position: relative;
}

.help-text h3 {
    font-weight: bold;
}

.help-corner {
    width: 0;
    height: 0;
    border-width: 18px;
    border-style: solid;
    border-color: transparent #dadada transparent transparent;
    position: absolute;
    top: 26px;
    left: -36px;
}

.help-corner::after {
    content: ' ';
    width: 0;
    height: 0;
    border-width: 18px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    background: transparent;
    position: absolute;
    top: -18px;
    left: -16px;
}

.submit-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 180px);
    border-color: #dadada;
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

.submit-container button {
    color: white;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    background: rgb(25, 128, 208);
    display: block;
    padding: 12px 30px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px;
    cursor: pointer;
}

.submit-container a {
    font-weight: bold;
    font-size: 13px;
}

.section-headline {
    color: #005ea8;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 25px;
}

.formrow {
    display: flex;
}

.formrow label {
    flex : 1 1 0%;
    font-size: 15px;
    color: #575757;
}

.control-wrapper {
    width: 294px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.error-text {
    width: 100%;
    font-size: 11px;
    color: #f00;
}

input[type="text"],
input[type="tel"],
select {
    font-size: 13px;
    line-height: 18px;
    color: #575757;
    height: 40px;
    border: 1px solid rgb(180, 180, 180);
    padding: 10px 10px 10px 8px;
}

::placeholder {
    color: #b4b4b4;
}

.help {
    width: 10%;
}

.help span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: block;
    background: rgb(180, 180, 180);
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-top: 11px;
}

.control-date {
    display: flex;
}

.control-date input {
    display: block;
}

.control-date input:nth-of-type(1),
.control-date input:nth-of-type(2){
    width: 68px;
    margin-right: 6px;
}

.control-date input:nth-of-type(3){
    width: 146px;
}

.control-plz {

}

.control-plz input {
    width: 115px;
    margin-right: 6px;
}

.control-plz select {
    width: 173px;
}
